body, html {
    margin: 0;
  }
  
  .divs {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .firstDiv {
    width: 20%;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .middleDiv {
    width: 55%;
    background-color: rgb(249, 245, 245);
    height:100vh;
  }
  
  .lastDiv {
    width: 25%;
    padding-left: 2rem;
    padding-top: 0rem;
  }
  