.day1{
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.categoryImage{
    margin-top: 14px;
    width:11rem;
    height: auto;
    border-radius: 15px;
}

.categoryTitle{
    font-weight: 400;
    width:11rem;
    font-size: 1.2rem;
}