
body,html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.leftDivs{
    display:flex;
    width:100%;
}
.firstDivs{
    width:20%;
    /* background-color: rgb(207, 69, 69); */
}
.recipeGrid{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
  
    background-color: rgb(249, 245, 245);
    padding-top: 4rem;
}

.img{
    border-radius: 20px;
   
    width:100%;
    height:100%;
}

.recipeTitle{
    font-size:1.4rem;
    
    align-items: flex-start;
}
.box{
    width:17vw;
    height:31vh;
    border: none;
    margin-left: 1rem;
    background-color: rgb(249, 245, 245);
    transition: transform 0.3s ease;
    text-align: start;
}

.box:hover{
    transform: scale(1.07);
}